.host-btns {
    display: flex;
    padding-left: 8px;
}

@media screen and (max-width: 960px) {
    .host-btns {
        flex-direction: column;
    }
}

.host-btn {
    text-align: center;
    padding: 8px;
    border-radius: 12px;
    transition: 0.3s;
    color: white;
    border: none;
    margin: 1px;
}

.host-btn:hover {
    opacity: 0.9;
}

.host-match-btn {
    flex-grow: 1;
    background-color: rgb(30, 30, 238);
}

.cancel-btn {
    flex-grow: 1;
    background-color: rgb(212, 154, 30);
}