.match-details {
    /* max-height: 440px; */
    border: 1px solid red;

}

.match-info {
    height: 100%;
    margin-bottom: 10px;
    border-right: 1px solid #eee;
    border: 1px solid red;
}

.players-container {
    height: 100%;
    padding-left: 24px;
    border: 1px solid blue;

}

.players-items {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid blue;
}

.details-btn {
    width: 100%;
    background-color: rgb(37, 83, 83);
    text-align: center;
    padding: 8px;
    border-radius: 12px;
    transition: 0.3s;
    color: white;
    border: none;
}

@media screen and (min-width: 960px) {
    .details-btn {
        width: 50%;
    }
}

.details-btn a {
    text-decoration: none;
    color: white;
}

.details-btn:hover {
    background-color: rgb(37, 83, 83);
    color: white;
    opacity: 0.9;
}

.details-btn:disabled {
    background-color: rgb(37, 83, 83);
    color: white;
    opacity: 0.9;
}

.match-full {
    color: red;
    padding: 4px 0;
}

.edit-btns {
    display: flex;
}

@media screen and (max-width: 960px) {
    .edit-btns {
        flex-direction: column;
    }
}

.edit-btn {
    text-align: center;
    padding: 8px;
    border-radius: 12px;
    transition: 0.3s;
    color: white;
    border: none;
    margin: 1px;
}

.edit-btn:hover {
    opacity: 0.9;
}

.update-btn {
    flex-grow: 1;
    background-color: rgb(30, 30, 238);
}

.delete-btn {
    flex-grow: 1;
    background-color: rgb(212, 30, 30);
}

.additional-details {
    padding: 12px 0px;
}
