.container {
    display: flex;
    border: 1px solid red;

}

.match-details {
    height: 340px;
    padding-bottom: 24px;
}

.match-info {
    height: 100%;
    /* border: 1px solid red; */
}

.players-container {
    height: 100%;
    border-left: 1px solid #eee;
    padding-left: 24px;
}

.players-items {
    height: 90%;
    overflow: auto;
}

.btn-group {
    display: inline-block;
    /* flex-direction: column;
    justify-content: center; */
}

.btn {
    width: 100%;
    background-color: rgb(37, 83, 83);
    text-decoration: none;
    color: white;
}

.additional-details {
    padding: 10px 0px;
}