.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
        url("../assets/images/wallpaper1.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    color: white;
}

.welcome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.welcome h5 {
    max-width: 450px;
    text-align: center;
    margin-bottom: 16px;
} 

.welcome h5 span {
    font-weight: bold;
    font-size: 24px;
}

.signup-container {
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 10px #333;
    padding: 24px;
    text-align: center;
}

.signup-container__title {
    margin-bottom: 24px;
}

.signup-main {
    text-align: center;
    margin: 4px;
}

.signup-main input {
    width: 300px;
    min-height: 32px;
    padding: 10px 12px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    columns: #333;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #333;
}

.home-btn {
    width: 300px;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 12px;
    border-radius: 12px;
    min-height: 44px;
    box-shadow: 2px 2px 5px #333;
    line-height: 24px;
    border: none;
    outline: none;
}

.home-btn-link {
    width: 250px;
    background-color: #fff;
    text-decoration: none;
}

.account-text {
    margin-top: 8px;
}
