.weather-container {
    width: 200px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
}