.weather-container {
    width: 200px;
    height: 250px;
    padding: 10px;
    /* border: 1px solid red; */
    /* background-image: url("../sunny.jpg"); */
    /* background-repeat: no-repeat; */
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
}