.weather-container {
    width: 150px;
    height: 200px;
    border: 1px solid red;
    /* background-image: url("../sunny.jpg"); */
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: white;
}